$fuente--principal: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');;
$fuente--secundaria: url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:wght@300&display=swap');;

$size--principal: 10rem;
$size--secundario: 8rem;